<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<table id="example" class="table table-striped" style="width:100% !important">
  <thead>
  <tr>
    <th>Company & Recruiter</th>
    <th>Stage</th>
    <th class="none">Role</th>
    <th class="none">Technologies</th>
    <th>Next Meetup</th>
    <th>Applied On</th>
  </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <%= render "job_rows", :job => job %>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#example').DataTable({
          'responsive': true,
          'order': []
        });
    });
</script>
